<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      {% for item in menu %}
        <li class="nav-item">
          <a class="lead nav-link h6 text-black me-2 mb-0" href="{% url item.url_name %}">{{ item.name }}</a>
        </li>
      {% endfor %}

      {% include 'base/menu/unauthenticated_menu_items.html' %}
      {% include 'base/menu/authenticated_menu_items.html' %}
      {% include 'base/menu/staff_menu_items.html' %}
      {% include 'base/menu/catalog_reviews.html' %}
      {% include 'base/menu/search.html' %}
      {% include 'base/menu/signup.html' %}

    </ul>
  </div>
</nav>
